modules/j2ee-schema/src/j2ee_1_3schema/connector_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?><!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="authentication-mechanismType">
        <xs:sequence>
            <xs:element name="description" type="descriptionType" minOccurs="0"/>
            <xs:element name="authentication-mechanism-type" type="authentication-mechanism-typeType"/>
            <xs:element name="credential-interface" type="credential-interfaceType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
    <xs:complexType name="authentication-mechanism-typeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="config-propertyType">
        <xs:sequence>
            <xs:element name="description" type="descriptionType" minOccurs="0"/>
            <xs:element name="config-property-name" type="config-property-nameType"/>
            <xs:element name="config-property-type" type="config-property-typeType"/>
            <xs:element name="config-property-value" type="config-property-valueType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
    <xs:complexType name="config-property-nameType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="config-property-typeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="config-property-valueType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="connection-impl-classType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="connection-interfaceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="connectionfactory-impl-classType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="connectionfactory-interfaceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="connector" type="connectorType"/>
    <xs:complexType name="connectorType">
        <xs:sequence>
            <xs:element name="display-name" type="display-nameType" minOccurs="0"/>
            <xs:element name="description" type="descriptionType" minOccurs="0"/>
            <xs:element name="icon" type="iconType" minOccurs="0"/>
            <xs:element name="vendor-name" type="vendor-nameType"/>
            <xs:element name="spec-version" type="spec-versionType"/>
            <xs:element name="eis-type" type="eis-typeType"/>
            <xs:element name="version" type="versionType"/>
            <xs:element name="license" type="licenseType" minOccurs="0"/>
            <xs:element name="resourceadapter" type="resourceadapterType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
    <xs:complexType name="credential-interfaceType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="descriptionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="display-nameType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="eis-typeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="iconType">
        <xs:sequence>
            <xs:element name="small-icon" type="small-iconType" minOccurs="0"/>
            <xs:element name="large-icon" type="large-iconType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
    <xs:complexType name="large-iconType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="licenseType">
        <xs:sequence>
            <xs:element name="description" type="descriptionType" minOccurs="0"/>
            <xs:element name="license-required" type="license-requiredType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
    <xs:complexType name="license-requiredType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="managedconnectionfactory-classType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="reauthentication-supportType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="resourceadapterType">
        <xs:sequence>
            <xs:element name="managedconnectionfactory-class" type="managedconnectionfactory-classType"/>
            <xs:element name="connectionfactory-interface" type="connectionfactory-interfaceType"/>
            <xs:element name="connectionfactory-impl-class" type="connectionfactory-impl-classType"/>
            <xs:element name="connection-interface" type="connection-interfaceType"/>
            <xs:element name="connection-impl-class" type="connection-impl-classType"/>
            <xs:element name="transaction-support" type="transaction-supportType"/>
            <xs:element name="config-property" type="config-propertyType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="authentication-mechanism" type="authentication-mechanismType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="reauthentication-support" type="reauthentication-supportType"/>
            <xs:element name="security-permission" type="security-permissionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
    <xs:complexType name="security-permissionType">
        <xs:sequence>
            <xs:element name="description" type="descriptionType" minOccurs="0"/>
            <xs:element name="security-permission-spec" type="security-permission-specType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
    </xs:complexType>
    <xs:complexType name="security-permission-specType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="small-iconType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="spec-versionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="transaction-supportType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="vendor-nameType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="versionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:ID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>