modules/connector/src/schema/geronimo-connector_1_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2004 The Apache Software Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ger="http://geronimo.apache.org/xml/ns/j2ee/connector"
    targetNamespace="http://geronimo.apache.org/xml/ns/j2ee/connector"
    xmlns:j2ee="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.5">
    <xsd:import namespace="http://java.sun.com/xml/ns/j2ee" schemaLocation="j2ee_1_4.xsd"/>
    <xsd:include schemaLocation="../../../deployment/src/schema/geronimo-common.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[
            documents using this schema should start like:
<connector xmlns="http://geronimo.apache.org/xml/ns/j2ee/connector"
    version="1.5">

          @(#)geronimo-connector_1_5.xsds
            ]]>
        </xsd:documentation>
    </xsd:annotation>



    <!-- **************************************************** -->


    <xsd:element name="connector" type="ger:connectorType">
        <xsd:annotation>
            <xsd:documentation>

                The connector element is the root element of the deployment
                descriptor for the resource adapter. This element includes
            </xsd:documentation>
        </xsd:annotation>

    </xsd:element>


    <!-- **************************************************** -->

    <xsd:complexType name="adminobjectType">
        <xsd:annotation>
            <xsd:documentation>
                reference back into standard dd
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="adminobject-interface"
                type="j2ee:fully-qualified-classType">
                <xsd:annotation>
                    <xsd:documentation>
                        believe it or not, there are no uniqueness constraints on admin object intf or class
                    </xsd:documentation>
                </xsd:annotation>

            </xsd:element>
            <xsd:element name="adminobject-class"
                type="j2ee:fully-qualified-classType">
                <xsd:annotation>
                    <xsd:documentation>reference back into the standard dd</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adminobject-instance"
                type="ger:adminobject-instanceType"
                minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="adminobject-instanceType">
        <xsd:sequence>
            <xsd:element name="message-destination-name"
                type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>unique name for admin object instance.  Used in object name of gbean for it. Matches message-destination-name in ejb-jar.xml assembly descriptor.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="config-property-setting"
                type="ger:config-property-settingType"
                minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- **************************************************** -->

    <xsd:complexType name="authentication-mechanismType">
        <xsd:annotation>
            <xsd:documentation>

                The authentication-mechanismType specifies an authentication
                mechanism supported by the resource adapter. Note that this
                support is for the resource adapter and not for the
                underlying EIS instance. The optional description specifies
                any resource adapter specific requirement for the support of
                security contract and authentication mechanism.

                Note that BasicPassword mechanism type should support the
                javax.resource.spi.security.PasswordCredential interface.
                The Kerbv5 mechanism type should support the
                org.ietf.jgss.GSSCredential interface or the deprecated
                javax.resource.spi.security.GenericCredential interface.

            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="description"
                type="j2ee:descriptionType"
                minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="authentication-mechanism-type"
                type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[

                        The element authentication-mechanism-type specifies
                        type of an authentication mechanism.

                        The example values are:

                        <authentication-mechanism-type>BasicPassword
                        </authentication-mechanism-type>

                        <authentication-mechanism-type>Kerbv5
                        </authentication-mechanism-type>

                        Any additional security mechanisms are outside the
                        scope of the Connector architecture specification.

                        ]]>
                    </xsd:documentation>
                </xsd:annotation>

            </xsd:element>
            <xsd:element name="credential-interface"
                type="ger:credential-interfaceType"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- **************************************************** -->

    <xsd:complexType name="config-property-settingType">
        <xsd:annotation>
            <xsd:documentation>

                The config-property-settingType contains a name-value pair for a
                config-property or required-config-property

            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- **************************************************** -->

    <xsd:complexType name="connection-definitionType">
        <xsd:annotation>
            <xsd:documentation>

                The connection-definitionType defines a set of connection
                interfaces and classes pertaining to a particular connection
                type. This also includes configurable properties for
                ManagedConnectionFactory instances that may be produced out
                of this set.

                The name element uniquely identifies this instance

            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="connectionfactory-interface"
                type="j2ee:fully-qualified-classType">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[

          connectionfactory-interface is unique in ra.xml so is used to index into ra.xml
                        ]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="connectiondefinition-instance"
                type="ger:connectiondefinition-instanceType"
                minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="connectiondefinition-instanceType">
        <xsd:sequence>
            <xsd:element name="name"
                type="xsd:string"/>
            <xsd:element name="config-property-setting"
                type="ger:config-property-settingType"
                minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:choice>
                <xsd:element name="connectionmanager"
                    type="ger:connectionmanagerType">
                </xsd:element>
                <xsd:element name="connectionmanager-ref" type="xsd:string"/>
            </xsd:choice>
            <!-- will be bound in ger: context if present -->
            <xsd:element name="global-jndi-name"
                type="xsd:string"
                minOccurs="0"/>
            <xsd:element name="credential-interface"
                type="ger:credential-interfaceType"
                minOccurs="0"/>

        </xsd:sequence>
    </xsd:complexType>

    <!-- **************************************************** -->

    <xsd:complexType name="connectionmanagerType">
        <xsd:annotation>
            <xsd:documentation>
                The ConnectionManager configuration.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <!--realm-bridge is an object name-->
            <xsd:element name="realm-bridge"
                type="xsd:string"
                minOccurs="0"/>
            <xsd:choice>
                <xsd:element name="no-transaction"/>
                <xsd:element name="local-transaction"/>
                <xsd:element name="xa-transaction" type="ger:xatransaction-Type"/>
                <xsd:element name="transaction-log"/>
            </xsd:choice>
            <xsd:choice>
                <xsd:element name="no-pool"/>
                <xsd:element name="single-pool" type="ger:singlepool-Type"/>
                <xsd:element name="partitioned-pool" type="ger:partitionedpool-Type"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="xatransaction-Type">
        <xsd:sequence>
            <xsd:element name="transaction-caching" minOccurs="0"/>
            <xsd:element name="thread-caching" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="singlepool-Type">
        <xsd:sequence>
            <xsd:element name="max-size" type="xsd:int"/>
            <xsd:element name="blocking-timeout-milliseconds" type="xsd:int"/>
            <xsd:choice>
                <xsd:element name="match-one"/>
                <xsd:element name="match-all"/>
                <xsd:element name="select-one-assume-match"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="partitionedpool-Type">
        <complexContent>
            <extension base="ger:singlepool-Type">
                <xsd:sequence>
                    <xsd:element name="partition-by-subject" minOccurs="0"/>
                    <xsd:element name="partition-by-connectionrequestinfo" minOccurs="0"/>
                </xsd:sequence>
            </extension>
        </complexContent>
    </xsd:complexType>

    <!-- **************************************************** -->

    <xsd:complexType name="connectorType">
        <xsd:annotation>
            <xsd:documentation>
                The connectorType defines a resource adapter.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="dependency" type="ger:dependencyType" minOccurs="0" maxOccurs="unbounded"/>

            <xsd:element name="resourceadapter" type="ger:resourceadapterType"/>

            <xsd:element name="gbean" type="ger:gbeanType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>

        <xsd:attribute name="version" type="ger:versionType" use="required"/>
        <xsd:attribute name="configId" type="xsd:string" use="required"/>
        <xsd:attribute name="parentId" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:simpleType name="versionType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse"/>
            <xsd:enumeration value="1.0"/>
            <xsd:enumeration value="1.5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- **************************************************** -->

    <xsd:complexType name="credential-interfaceType">
        <xsd:annotation>
            <xsd:documentation>

                The credential-interfaceType specifies the
                interface that the resource adapter implementation
                supports for the representation of the
                credentials. This element(s) that use this type,
                i.e. credential-interface,  should be used by
                application server to find out the Credential
                interface it should use as part of the security
                contract.

                The possible values are:

                javax.resource.spi.security.PasswordCredential
                org.ietf.jgss.GSSCredential
                javax.resource.spi.security.GenericCredential

            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="j2ee:fully-qualified-classType">
                <xsd:enumeration
                    value="javax.resource.spi.security.PasswordCredential"/>
                <xsd:enumeration
                    value="org.ietf.jgss.GSSCredential"/>
                <xsd:enumeration
                    value="javax.resource.spi.security.GenericCredential"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- **************************************************** -->

    <xsd:complexType name="outbound-resourceadapterType">
        <xsd:annotation>
            <xsd:documentation>

                The outbound-resourceadapterType specifies information about
                an outbound resource adapter. The information includes fully
                qualified names of classes/interfaces required as part of
                the connector architecture specified contracts for
                connection management, level of transaction support
                provided, one or more authentication mechanisms supported
                and additional required security permissions.

                If there is no authentication-mechanism specified as part of
                resource adapter element then the resource adapter does not
                support any standard security authentication mechanisms as
                part of security contract. The application server ignores
                the security part of the system contracts in this case.

            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="connection-definition"
                type="ger:connection-definitionType"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <!-- **************************************************** -->

    <xsd:complexType name="resourceadapterType">

        <xsd:sequence>
            <xsd:element name="resourceadapter-instance"
                type="ger:resourceadapter-instanceType"
                minOccurs="0"/>
            <xsd:element name="outbound-resourceadapter"
                type="ger:outbound-resourceadapterType"
                minOccurs="0">
            </xsd:element>
            <xsd:element name="adminobject"
                type="ger:adminobjectType"
                minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="resourceadapter-instanceType">
        <xsd:annotation>
            <xsd:documentation>
                The resourceadapter instance info is put in a separate optional element
                to provide easier more consistent support for 1.0 adapters.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="resourceadapter-name" type="xsd:string"/>
            <xsd:element name="config-property-setting"
                type="ger:config-property-settingType"
                minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="workmanager-name"
                type="j2ee:string"/>
        </xsd:sequence>
    </xsd:complexType>


    <!-- **************************************************** -->

    <xsd:complexType name="transaction-supportType">
        <xsd:annotation>
            <xsd:documentation>

                The transaction-supportType specifies the level of
                transaction support provided by the resource adapter. It is
                used by transaction-support elements.

                The value must be one of the following:

                NoTransaction
                LocalTransaction
                XATransaction

            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:restriction base="j2ee:string">
                <xsd:enumeration value="NoTransaction"/>
                <xsd:enumeration value="LocalTransaction"/>
                <xsd:enumeration value="XATransaction"/>
            </xsd:restriction>
        </xsd:simpleContent>
    </xsd:complexType>

</xsd:schema>

