modules/axis-builder/src/test-resources/schema/schema4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="elementtest"
    xmlns:elementtest="elementtest"
    xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="teststring" type="elementtest:stringtest"/>
    <complexType name="stringtest">
        <sequence>
            <element name="value" type="string"/>
        </sequence>
    </complexType>
</schema>
