modules/axis-builder/src/test-resources/schema/schema2.xsd

<?xml version="1.0"?>
<schema targetNamespace="http://stock"
       xmlns="http://www.w3.org/2001/XMLSchema">

    <element name="GetLastTradePrice">
        <complexType>
            <sequence>
                <element name="tickerSymbol" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="GetLastTradePriceOutput">
        <complexType>
            <sequence>
                <element name="price" type="float"/>
            </sequence>
        </complexType>
    </element>
</schema>
