modules/geronimo-system/src/main/resources/META-INF/schema/attributes-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<!-- $Rev$ $Date$ -->

<xsd:schema
    targetNamespace="http://geronimo.apache.org/xml/ns/attributes-1.1"
    xmlns:atts="http://geronimo.apache.org/xml/ns/attributes-1.1"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:annotation>
        <xsd:documentation>
            The definition of the XML format for storing manageable attribute values.
            Should look like this:
            <![CDATA[
            <attributes>
                <module name="mygroup/mycomponent/1.1/jar">
                    <gbean name="MyNetworkService">
                        <attribute name="host">0.0.0.0</attribute>
                        <attribute name="port">1234</attribute>
                    </gbean>
                </module>
            </attributes>
            ]]>
        </xsd:documentation>
    </xsd:annotation>

    <!-- Main element for the manageable attribute store configuration -->
    <xsd:element name="attributes" type="atts:attributesType"/>

    <!-- Element used by the plugin system to list individual GBeans -->
    <xsd:element name="gbean" type="atts:gbeanType"/>

    <xsd:complexType name="attributesType">
        <xsd:choice>
            <xsd:element name="module" type="atts:moduleType" minOccurs="0" maxOccurs="unbounded"/>

            <!-- The config.xml file in 1.0 use configuration instead of module -->
            <xsd:element name="configuration" type="atts:moduleType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="moduleType">
        <xsd:sequence>
            <xsd:element name="gbean" type="atts:gbeanType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="load" type="xsd:boolean" use="optional" default="true"/>
        <xsd:attribute name="condition" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="gbeanType">
        <xsd:annotation>
            <xsd:documentation>
                Note that the name attribute for a gbean element may hold
                either the full GBeanName, or only the value for the
                "name=" portion of the GBeanName.  If there are multiple
                GBeans in the module with manageable attributes and
                the same "name=" portion of the GBeanName, then all must be
                listed and all must be listed with a full GBeanName.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="attribute" type="atts:attributeType"/>
            <xsd:element name="reference" type="atts:referenceType"/>
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="gbeanInfo" type="xsd:string" use="optional"/>
        <xsd:attribute name="load" type="xsd:boolean" use="optional" default="true"/>
    </xsd:complexType>

    <xsd:complexType name="attributeType">
        <xsd:annotation>
            <xsd:documentation>
                Provides the definition of a single named attribute.  Attributes are mixed type
                and can include simple text and elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent mixed="true">
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                </xsd:sequence>
                <xsd:attribute name="name" use="required"/>
                <xsd:attribute name="null" use="optional"/>
                <xsd:attribute name="value" use="optional"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="referenceType">
        <xsd:sequence>
            <xsd:element name="pattern" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="groupId" type="xsd:string" minOccurs="0"/>
                      <xsd:element name="artifactId" type="xsd:string" minOccurs="0"/>
                      <xsd:element name="version" type="xsd:string" minOccurs="0"/>
                      <xsd:element name="type" type="xsd:string" minOccurs="0"/>
                      <xsd:element name="module" type="xsd:string" minOccurs="0"/>
                      <xsd:element name="name" type="xsd:string"/>
                  </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

</xsd:schema>
