modules/connector-builder/src/schema/geronimo-connector_1_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2004 The Apache Software Foundation

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:ger="http://geronimo.apache.org/xml/ns/j2ee/connector"
    xmlns:sys="http://geronimo.apache.org/xml/ns/deployment"
    targetNamespace="http://geronimo.apache.org/xml/ns/j2ee/connector"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    version="1.5">

    <xsd:import namespace="http://geronimo.apache.org/xml/ns/deployment" schemaLocation="../../../service-builder/src/schema/geronimo-config.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[
            documents using this schema should start like:
<connector xmlns="http://geronimo.apache.org/xml/ns/j2ee/connector"
    version="1.5">

          @(#)geronimo-connector_1_5.xsds
            ]]>
        </xsd:documentation>
    </xsd:annotation>



    <!-- **************************************************** -->


    <xsd:element name="connector" type="ger:connectorType">
        <xsd:annotation>
            <xsd:documentation>

                The connector element is the root element of the deployment
                descriptor for the resource adapter. This element includes
            </xsd:documentation>
        </xsd:annotation>

        <xsd:unique name="resourceadapter-instance-name-uniqueness">
            <xsd:annotation>
                <xsd:documentation>

              The resourceadapter-instance element must have a unique name.

                </xsd:documentation>
            </xsd:annotation>
            <xsd:selector xpath="ger:resourceadapter/ger:resourceadapter-instance"/>
            <xsd:field xpath="ger:resourceadapter-name"/>
        </xsd:unique>

        <xsd:unique name="connectiondefinition-instance-name-uniqueness">
            <xsd:annotation>
                <xsd:documentation>

              The connectiondefinition-instance element must have a unique name.

                </xsd:documentation>
            </xsd:annotation>
            <xsd:selector xpath="ger:resourceadapter/ger:outbound-resourceadapter/ger:connection-definition/ger:connectiondefinition-instance"/>
            <xsd:field xpath="ger:name"/>
        </xsd:unique>

        <xsd:unique name="admin-object-instance-name-uniqueness">
            <xsd:annotation>
                <xsd:documentation>

              The admin-object-instance element must have a unique name.

                </xsd:documentation>
            </xsd:annotation>
            <xsd:selector xpath="ger:adminobject/ger:adminobject-instance"/>
            <xsd:field xpath="ger:message-destination-name"/>
        </xsd:unique>

    </xsd:element>


    <!-- **************************************************** -->

    <xsd:complexType name="adminobjectType">
        <xsd:annotation>
            <xsd:documentation>
                reference back into standard dd
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="adminobject-interface"
                type="ger:fully-qualified-classType">
                <xsd:annotation>
                    <xsd:documentation>
                        believe it or not, there are no uniqueness constraints on admin object intf or class
                    </xsd:documentation>
                </xsd:annotation>

            </xsd:element>
            <xsd:element name="adminobject-class"
                type="ger:fully-qualified-classType">
                <xsd:annotation>
                    <xsd:documentation>reference back into the standard dd</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adminobject-instance"
                type="ger:adminobject-instanceType"
                minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="adminobject-instanceType">
        <xsd:sequence>
            <xsd:element name="message-destination-name"
                type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>unique name for admin object instance.  Used in object name of gbean for it. Matches message-destination-name in ejb-jar.xml assembly descriptor.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="config-property-setting"
                type="ger:config-property-settingType"
                minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <!-- **************************************************** -->

    <xsd:complexType name="config-property-settingType">
        <xsd:annotation>
            <xsd:documentation>

                The config-property-settingType contains a name-value pair for a
                config-property or required-config-property

            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!-- **************************************************** -->

    <xsd:complexType name="connection-definitionType">
        <xsd:annotation>
            <xsd:documentation>

                The connection-definitionType defines a set of connection
                interfaces and classes pertaining to a particular connection
                type. This also includes configurable properties for
                ManagedConnectionFactory instances that may be produced out
                of this set.

                The name element uniquely identifies this instance

            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="connectionfactory-interface"
                type="ger:fully-qualified-classType">
                <xsd:annotation>
                    <xsd:documentation>
                        connectionfactory-interface is unique in ra.xml so is used to index into ra.xml
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="connectiondefinition-instance"
                type="ger:connectiondefinition-instanceType"
                minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="connectiondefinition-instanceType">
        <xsd:sequence>
            <xsd:element name="name"
                type="xsd:string"/>

            <xsd:element name="implemented-interface"
                type="ger:fully-qualified-classType"
                minOccurs="0"
                maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Additional interfaces implemented by the connectionfactory, used by the application
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="config-property-setting"
                type="ger:config-property-settingType"
                minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:choice>
                <xsd:element name="connectionmanager"
                    type="ger:connectionmanagerType">
                </xsd:element>
                <xsd:element name="connectionmanager-ref" type="xsd:string"/>
            </xsd:choice>
            <!-- will be bound in ger: context if present -->
            <xsd:element name="global-jndi-name"
                type="xsd:string"
                minOccurs="0"/>
            <xsd:element name="credential-interface"
                type="ger:credential-interfaceType"
                minOccurs="0"/>

        </xsd:sequence>
    </xsd:complexType>

    <!-- **************************************************** -->

    <xsd:complexType name="connectionmanagerType">
        <xsd:annotation>
            <xsd:documentation>
                The ConnectionManager configuration.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <!--realm-bridge is an object name-->
            <xsd:element name="realm-bridge"
                type="xsd:string"
                minOccurs="0"/>
            <xsd:choice minOccurs="0">
                <xsd:element name="no-transaction"/>
                <xsd:element name="local-transaction"/>
                <xsd:element name="xa-transaction" type="ger:xatransaction-Type"/>
                <xsd:element name="transaction-log"/>
            </xsd:choice>
            <xsd:choice>
                <xsd:element name="no-pool"/>
                <xsd:element name="single-pool" type="ger:singlepool-Type"/>
                <xsd:element name="partitioned-pool" type="ger:partitionedpool-Type"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="xatransaction-Type">
        <xsd:sequence>
            <xsd:element name="transaction-caching" minOccurs="0"/>
            <xsd:element name="thread-caching" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="singlepool-Type">
        <xsd:sequence>
            <xsd:element name="max-size" type="xsd:int" minOccurs="0"/>
            <xsd:element name="min-size" type="xsd:int" minOccurs="0"/>
            <xsd:element name="blocking-timeout-milliseconds" type="xsd:int" minOccurs="0"/>
            <xsd:element name="idle-timeout-minutes" type="xsd:int" minOccurs="0"/>
            <xsd:choice>
                <xsd:element name="match-one"/>
                <xsd:element name="match-all"/>
                <xsd:element name="select-one-assume-match"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="partitionedpool-Type">
        <complexContent>
            <extension base="ger:singlepool-Type">
                <xsd:sequence>
                    <xsd:element name="partition-by-subject" minOccurs="0"/>
                    <xsd:element name="partition-by-connectionrequestinfo" minOccurs="0"/>
                </xsd:sequence>
            </extension>
        </complexContent>
    </xsd:complexType>

    <!-- **************************************************** -->

    <xsd:complexType name="connectorType">
        <xsd:annotation>
            <xsd:documentation>
                The connectorType defines a resource adapter.
            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element ref="sys:dependency" minOccurs="0" maxOccurs="unbounded"/>
<!--            <xsd:element name="dependency" type="sys:dependencyType" minOccurs="0" maxOccurs="unbounded"/>-->

            <xsd:element name="resourceadapter" type="ger:resourceadapterType" maxOccurs="unbounded"/>

            <xsd:element name="adminobject" type="ger:adminobjectType" minOccurs="0" maxOccurs="unbounded"/>

            <xsd:element ref="sys:gbean" minOccurs="0" maxOccurs="unbounded"/>
<!--            <xsd:element name="gbean" type="sys:gbeanType" minOccurs="0" maxOccurs="unbounded"/>-->
        </xsd:sequence>

        <xsd:attribute name="version" type="ger:versionType" use="required"/>
        <xsd:attribute name="configId" type="xsd:string" use="required"/>
        <xsd:attribute name="parentId" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:simpleType name="versionType">
        <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse"/>
            <xsd:enumeration value="1.0"/>
            <xsd:enumeration value="1.5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!-- **************************************************** -->

    <xsd:simpleType name="credential-interfaceType">
        <xsd:annotation>
            <xsd:documentation>

                The credential-interfaceType specifies the
                interface that the resource adapter implementation
                supports for the representation of the
                credentials. This element(s) that use this type,
                i.e. credential-interface,  should be used by
                application server to find out the Credential
                interface it should use as part of the security
                contract.

                The possible values are:

                javax.resource.spi.security.PasswordCredential
                org.ietf.jgss.GSSCredential
                javax.resource.spi.security.GenericCredential

            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="ger:fully-qualified-classType">
            <xsd:enumeration
                value="javax.resource.spi.security.PasswordCredential"/>
            <xsd:enumeration
                value="org.ietf.jgss.GSSCredential"/>
            <xsd:enumeration
                value="javax.resource.spi.security.GenericCredential"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- **************************************************** -->

    <xsd:complexType name="outbound-resourceadapterType">
        <xsd:annotation>
            <xsd:documentation>

                The outbound-resourceadapterType specifies information about
                an outbound resource adapter. The information includes fully
                qualified names of classes/interfaces required as part of
                the connector architecture specified contracts for
                connection management, level of transaction support
                provided, one or more authentication mechanisms supported
                and additional required security permissions.

                If there is no authentication-mechanism specified as part of
                resource adapter element then the resource adapter does not
                support any standard security authentication mechanisms as
                part of security contract. The application server ignores
                the security part of the system contracts in this case.

            </xsd:documentation>
        </xsd:annotation>

        <xsd:sequence>
            <xsd:element name="connection-definition"
                type="ger:connection-definitionType"
                maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <!-- **************************************************** -->

    <xsd:complexType name="resourceadapterType">

        <xsd:sequence>
            <xsd:element name="resourceadapter-instance"
                type="ger:resourceadapter-instanceType"
                minOccurs="0">
            </xsd:element>
            <xsd:element name="outbound-resourceadapter"
                type="ger:outbound-resourceadapterType"
                minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="resourceadapter-instanceType">
        <xsd:annotation>
            <xsd:documentation>
                The resourceadapter instance info is put in a separate optional element
                to provide easier more consistent support for 1.0 adapters.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="resourceadapter-name" type="xsd:string"/>
            <xsd:element name="config-property-setting"
                type="ger:config-property-settingType"
                minOccurs="0"
                maxOccurs="unbounded"/>
            <xsd:element name="workmanager-name"
                type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>



    <!-- types borrowed from the j2ee schema.  We might want to centralize  these -->

    <xsd:simpleType name="fully-qualified-classType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:complexType name="descriptionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute ref="xml:lang"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


</xsd:schema>

